@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  background: #dbe9f4;
}

#vocabulary__category-wrapper {
  width: 100%;
}

.vocabulary__category {
  width: 300px;
  border: 2px solid #ff7400;
  background: #fff;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.info {
  width: 50%;
  margin:auto;
  list-style: none;
  font-size: 1.2rem;
}

#vocabulary__wrapper {
  width: 800px;
  position: relative;
  margin: auto;
  padding: 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.vocabulary__card {
  border: 4px solid #ff7400;
  height: 250px;
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}

.vocabulary__text {
  align-self: center;
  font-size: 3rem;
}

#next, #prev, #exit {
  height: 50px;
  width: 100px;
  border: 2px solid #ff7400;
  cursor: pointer;
  line-height: 50px;
  border-radius: 5px;
  background: #fff;
  font-size: 1rem;
}

#next, #prev {
  left: 80%;
  top: 50%;
  position: absolute;
}

#next {
  left: 80%;
}

#prev {
  left: 8%;
}

.vocabulary__title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

#exit, h1 {
  align-self: center;
}

#exit {
  margin-left: 10px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .vocabulary__category {
    width: 800px;
    height: 200px;
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 200px;
    border-radius: 20px;
  }

  .info {
    width: 100%;
    font-size: 2rem;
  }

  #vocabulary__wrapper {
    width: 100%;
  }

  .vocabulary__card {
    border: 4px solid #ff7400;
    height: 550px;
    width: 750px;
    border-radius: 20px;
  }

  .vocabulary__text {
    font-size: 4.5rem;
  }

  #next, #prev, #exit {
    border: 3px solid #ff7400;
    cursor: pointer;
    line-height: 50px;
    border-radius: 5px;
    background: #fff;
    font-size: 1rem;
  }

  #next, #prev {
    left: 80%;
    top: 100%;
    position: absolute;
    height: 150px;
    width: 300px;
    font-size: 2rem;
    margin-top: 20px;
  }

  #next {
    left: 60%;
  }

  #prev {
    left: 8%;
  }

  #exit {
    height: 100px;
    width: 200px;
    font-size: 2rem;
  }

  .vocabulary__title {
    width: 100%;
    margin-bottom: 80px;
  }

  h1 {
    text-align: center;
    font-size: 5rem;
  }
}
